<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" type="text/css" href="details.component.css">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Angular Training</title>
    </head>
    <body>
        <header class="main-header">
            <nav>
                <ul class="menu">
                    <li class="menu__list-item"><a href="home">Home</a></li>
                    <li class="menu__list-item"><a href="assets">Assets</a></li>
                    <li class="menu__list-item"><a href="details" class="menu__list-item--active">Details</a></li>
                </ul>
            </nav>
        </header>
        <app-chart></app-chart>
        <app-assets-grid></app-assets-grid>
    </body>
</html>